parameters:
  paths:
    - /source/src
  level: 8
  autoload_files:
    - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
  autoload_directories:
    - /source/src
    - phar:///source/vendor/Commando.phar/src/
    - phar:///source/vendor/FormAPI.phar/src/
    - phar:///source/vendor/InvMenu.phar/src/
    - phar:///source/vendor/libasynql.phar/src/
    - phar:///source/vendor/libPiggyEconomy.phar/src/
  excludes_analyse:
    - source/vendor
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  ignoreErrors:
    - "#Parameter \\#1 $type of method muqsit\\\\invmenu\\\\InvMenu::__construct() expects muqsit\\\\invmenu\\\\metadata\\\\MenuMetadata, muqsit\\\\invmenu\\\\metadata\\\\MenuMetadata|null given.#"