parameters:
  paths:
    - src
  level: 8
  autoload_files:
    - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
  autoload_directories:
    - src
    - src/DaPigGuy/PiggyAuctions/libs
  excludes_analyse:
    - src/DaPigGuy/PiggyAuctions/libs
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  ignoreErrors:
    - "#Parameter \\#1 $type of method muqsit\\\\invmenu\\\\SharedInvMenu::__construct() expects muqsit\\\\invmenu\\\\metadata\\\\MenuMetadata, muqsit\\\\invmenu\\\\metadata\\\\MenuMetadata|null given.#"